<section class="footer">
    <div class="villan">
        <div class="downloads">
            <h2>Become a part of our community and connect</h2>
            <p>Get the latest news about our products and services.</p>
            <button> <span><svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.2481 21.4138H3.7519C3.33418 21.4138 3 21.9885 3 22.7069C3 23.4253 3.33418 24 3.7519 24H24.2481C24.6658 24 25 23.4253 25 22.7069C25 21.9885 24.6658 21.4138 24.2481 21.4138Z" fill="var(--primary)"/>
                <path d="M13.328 18.8014C13.5048 18.9255 13.7524 19 13.9999 19C14.2474 19 14.4949 18.9305 14.6717 18.8014L22.2743 13.4643C22.6492 13.2012 22.6492 12.7792 22.2743 12.5161C21.8995 12.2529 21.2984 11.3893 20.9235 11.6524L17.9391 13.7475L14.9546 15.8427V0.670238C14.9546 0.297883 14.5303 0 13.9999 0C13.4695 0 13.0451 0.297883 13.0451 0.670238V15.8427L7.07624 11.6524C6.70141 11.3893 6.10028 12.2529 5.72545 12.5161C5.35063 12.7792 5.35063 13.2012 5.72545 13.4643L13.328 18.8014Z" fill="var(--primary)"/>
                </svg></span> Download for Windows OS</button>
        </div>
    </div>
    <div class="content">
        <div class="footer__nav-wrapper">
            <div class="footer__nav-section">
                <ul class="footer__nav">
                    <li class="footer__title">Why Gibbah?</li>
                    <li><a href="#">Gibbah vs. Whatsapp</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">For My Business</a></li>
                    <li><a href="#">Audience</a></li>
                    <li><a href="#">Watch the Demo</a></li>
                </ul>
            </div>
            <div class="footer__nav-section">
                <ul class="footer__nav">
                    <li class="footer__title">Product</li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">For Developers</a></li>
                </ul>
            </div>
            <div class="footer__nav-section">
                <ul class="footer__nav">
                    <li class="footer__title">Pricing</li>
                    <li><a href="#">Free Plan</a></li>
                    <li><a href="#">Paid vs Free</a></li>
                </ul>
            </div>
            <div class="footer__nav-section">
                <ul class="footer__nav">
                    <li class="footer__title">Resources</li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Apps</a></li>
                    <li><a href="#">Developers</a></li>
                </ul>
            </div>
            <div class="footer__nav-section">
                <ul class="footer__nav">
                    <li class="footer__title">Company</li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Media Kit</a></li>
                    <li><a href="#">Leadership</a></li>
                </ul>
            </div>
            
        </div>
        <div class="footer__meta">
            <span><a href="#">Terms and Conditions</a></span>
            <span><a href="#">Privacy Policies</a></span>
            <span>&copy;CopyRight {{year}}</span>
        </div>  
    </div>
</section>
