<header>
    <nav>
        <ul class="nav">
            <li class="nav__item ml-0"><a href="#" class="nav__link"><img src="assets/IMG/gibbahLogo.svg" alt="gibbah logo"></a></li>
            <li class="nav__item right"><a href="#" class="nav__link">Home </a></li>
            <li class="nav__item"><a href="#" class="nav__link">Download</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
            <li class="nav__item"><a href="#" class="nav__link">API</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
            <li class="nav__item right mr-0"><a routerLink="join" class="nav__link btn-accent btn">Sign Up</a></li>
        </ul>
    </nav>
</header>
