<app-navbar></app-navbar>
<section class="container">
    <div class="hero">
        <div class="content">
            <div class="intro">
                <div class="intro__text">
                    <h1 class="intro__title">Connect with what matters to you</h1>
                    <p class="intro__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque ab nobis, officiis expedita illum quod mollitia. Suscipit nihil, cum eum dolorem voluptatem dignissimos ab odit, eveniet distinctio nemo necessitatibus. Ipsa odio, cumque odit quod voluptas neque iusto nihil reprehenderit. Qui laborum, nesciunt facere, ipsa officiis nisi delectus pariatur perspiciatis, exercitationem mollitia iste commodi expedita a quasi eveniet deserunt accusantium quo esse! Minima, ab ad! explicabo rerum tempore, accusamus recusandae quisquam aspernatur fugiat quis.</p>
                    <div class="intro__cta">
                        <button class="btn btn-accent">Start free trial</button>
                    </div>
                </div>

                <div class="intro__img">
                    <img src="assets/IMG/gibbah loptop.png" alt="image of a laptop with the chat example">
                </div>
            </div>
        </div>
    </div>
    <app-paralax></app-paralax>
    <div class="developers">
        <div class="content">
            <h2 class="subtitle">For Our Developers</h2>
            <p>Our API is available to anyone who wishes to use our platform to enhance their business. It is easy to use and straightforward. Use the API to build your own product, or take advantage of the huge pool of clients we have on our servers by sending messages using your own inteface. </p>

            <p>To ensure we have the right product for you we have a list of  </p>
            <div class="pricing-grid">
                <div class="card">
                    <h3 class="card__title">Basic</h3>
                    <ul class="card__list">
                        <li class="card__items">Make up to 10 rooms</li>
                        <li class="card__items">Make up to 100 requests Per month</li>
                    </ul>
                    <p class="card__price"><span class="dollars">0</span><span class="cents">00</span>/mo</p>
                    <button class="card__cta">Free</button>
                </div>
                <div class="card">
                    <h3 class="card__title">Advance</h3>
                    <ul class="card__list">
                        <li class="card__items">Make up to 1000 rooms</li>
                        <li class="card__items">Make up to 100,000 requests Per month</li>
                        <li class="card__items">Faster Server for sending Messages.</li>
                    </ul>
                    <p class="card__price"><span class="dollars">45</span><span class="cents">00</span>/mo</p>
                    <button class="card__cta">Buy Now</button>
                </div>
                <div class="card">
                    <h3 class="card__title">Premium</h3>
                    <ul class="card__list">
                        <li class="card__items">Create unlimited rooms</li>
                        <li class="card__items">Unlimited requests</li>
                        <li class="card__items">Top performing Server</li>
                        <li class="card__items">Automated messaging Service</li>
                    </ul>
                    <p class="card__price"><span class="dollars">100</span><span class="cents">00</span>/mo</p>
                    <button class="card__cta">Buy Now</button>
                </div>
            </div>
            <div class="intro__cta flex">
                <button class="btn outline-nr ml-auto">See All Pricing</button>
            </div>
        </div>
        
    </div>
</section>
<app-footer></app-footer>